<template>
    <o-loader :loading="isLoading('primary.*')">
        <section v-if="{{identifiers.camel_plural}}.length === 0" class="p-8">
            <o-notification class="rounded">
                You haven't added any {{#to-lower}}{{identifiers.label_plural}}{{/to-lower}} yet,

                <router-link
                    :to="{ name: '{{identifiers.kebab_plural}}.create' }"
                    class="underline"
                >
                    click here to add one
                </router-link>.
            </o-notification>
        </section>

        <table v-else class="table">
            <thead>
                <tr>
                    {{#if-has-feature "Sortable"}}
                    <th class="narrow" />
                    {{/if-has-feature}}

                    {{#each fields}}
                    {{#if show_in_admin_index}}
                    <th>
                        {{identifiers.label}}
                    </th>
                        {{/if}}
                    {{/each}}

                    <th class="narrow">
                        Actions
                    </th>
                </tr>
            </thead>

            <transition-group name="flip-list" tag="tbody">
                <tr
                    v-for="{{identifiers.camel_singular}} in {{identifiers.camel_plural}}"
                    :key="{{identifiers.camel_singular}}.id"
                    {{#if-has-feature "Draftable"}}:class="{ 'draft': ! {{identifiers.camel_singular}}.is_published }"{{/if-has-feature}}
                >
                    {{#if-has-feature "Sortable"}}
                    <td class="actions">
                        <a
                            class="icon"
                            :class="{
                                'pointer-events-none opacity-50': ! canMoveItemUp({{identifiers.camel_plural}}, {{identifiers.camel_singular}}.id)
                            }"
                            @click="moveItemUp({{identifiers.camel_plural}}, {{identifiers.camel_singular}}.id)"
                        >
                            <icon icon="angle-up" />
                        </a>

                        <a
                            class="icon"
                            :class="{
                                'pointer-events-none opacity-50': ! canMoveItemDown({{identifiers.camel_plural}}, {{identifiers.camel_singular}}.id)
                            }"
                            @click="moveItemDown({{identifiers.camel_plural}}, {{identifiers.camel_singular}}.id)"
                        >
                            <icon icon="angle-down" />
                        </a>
                    </td>
                    {{/if-has-feature}}

                    {{#each fields}}
                    {{#if show_in_admin_index}}
                    <td>
                        {{#v-render}}{{@root.identifiers.camel_singular}}.{{identifiers.snake}}{{/v-render}}
                    </td>
                    {{/if}}
                    {{/each}}

                    <td class="actions">
                        <router-link
                            :to="{
                                name: '{{identifiers.kebab_plural}}.edit',
                                params: { id: {{identifiers.camel_singular}}.id },
                            }"
                            class="icon medium"
                        >
                            <icon icon="pencil-alt" />
                        </router-link>

                        <a
                            class="icon medium"
                            @click="openConfirmation({{identifiers.camel_singular}})"
                        >
                            <icon icon="trash-alt" />
                        </a>
                    </td>
                </tr>
            </transition-group>
        </table>

        <o-confirmation
            v-slot="{ item: {{identifiers.camel_singular}} }"
            button-class="red"
            button-text="Delete"
            @confirm="delete{{identifiers.pascal_singular}}"
        >
            Are you sure you want to delete this {{#to-lower}}{{identifiers.label_singular}}{{/to-lower}}?
        </o-confirmation>
    </o-loader>
</template>

<script>
import { sortableMixin } from '@optimuscms/theme';

import {
    get{{identifiers.pascal_plural}},
    delete{{identifiers.pascal_singular}},
    {{#if-has-feature "Sortable"}}move{{identifiers.pascal_singular}}{{/if-has-feature}}
} from '../routes/api';

export default {
    mixins: [ sortableMixin ],

    data() {
        return {
            {{identifiers.camel_plural}}: [],
        };
    },

    created() {
        this.setTitle('Manage {{identifiers.label_plural}}');

        this.fetch{{identifiers.pascal_plural}}();
    },

    methods: {
        fetch{{identifiers.pascal_plural}}() {
            this.startLoading('primary.{{identifiers.kebab_plural}}');

            get{{identifiers.pascal_plural}}().then(response => {
                this.{{identifiers.camel_plural}} = response.data.data;

                this.stopLoading('primary.{{identifiers.kebab_plural}}');
            });
        },

        {{#if-has-feature "Sortable"}}
        move(id, from, to) {
            move{{identifiers.pascal_singular}}(id, this.getMoveDirection(from, to));

            this.{{identifiers.camel_plural}} = this.moveItem(this.{{identifiers.camel_plural}}, from, to);
        },
        {{/if-has-feature}}

        delete{{identifiers.pascal_singular}}({{identifiers.camel_singular}}) {
            delete{{identifiers.pascal_singular}}({{identifiers.camel_singular}}.id);

            this.{{identifiers.camel_plural}} = this.{{identifiers.camel_plural}}.filter(({ id }) => {
                return id !== {{identifiers.camel_singular}}.id;
            });
        },
    },
};
</script>
